@import url('https://fonts.googleapis.com/css2?family=Damion&family=Delius&family=Quicksand:wght@300..700&display=swap');

:root {
  --main-color: #FFE4B5;
  --light-main: #ffd;
  --text-color: #4E342E;
  --nav-color: #E74C3C;
  --light-nav: #c44;
}

* {
  box-sizing: border-box;
}

html {
  font: 20px "Delius", cursive ;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
}

/** HEADER **/
header {
  align-items: center;
  background-color: var(--nav-color);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;
}

header h1 {
  font: 100 40px "Damion", cursive;
  margin: 0
}

header nav ul {
  margin: 0;
}

header nav li{
  display: inline-block;
  padding: .5rem;
}

header nav a {
  color: var(--main-color);
  font-family: "Delius", cursive;
  font-size: 24;
  text-decoration: none;
}

.nav-trigger,
#nav-box {
	display: none;
}

/** Home **/
#home-h1 {
  color: var(--text-color);
  font: 100 80px "Damion", cursive;
  margin: auto;
  text-align: center;
}

#home {
  border-radius: 25px;
  font-family: "Delius", cursive;
  font-size: 20px;
  margin: auto;
  max-height: 420px;
  max-width: 750px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 80%;
}

#home p {
  background-color: #ffffffbb;
  line-height: 2;
  margin: 0;
  padding: 2rem;
  position: absolute;
  z-index: 1;
  height: 100%;
}

#home img {
  box-shadow: 6px 6px 10px #00000040;
  border-radius: 25px;
  justify-self: end;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}

#home-recipes {
  align-items: center;
  display: grid;
  justify-items: center;
  font-family: "Delius", cursive;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 1090px;
}

#home-recipes h2 {
  color: var(--text-color);
  font-size: 38px;
  grid-column: 1 / span 3;
  text-align: center;
}

#home-recipes a:visited {
  color: var(--text-color);
}

.recipe-cards {
  background: #fff;
  border-radius: 25px;
  box-shadow: 6px 6px 10px #00000040;
  margin-bottom: 2rem;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  width: 95%;
}

.recipe-cards img {
  border-radius: 25px 25px 0 0;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 0;
}

.recipe-cards p {
  margin: 0;
  padding-bottom: .5rem;
  padding-left: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffffbb;
  z-index: 1;
}


/** About Us **/
#about_us {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 6px 6px 10px #00000040;
  font-family: "Delius", cursive;
  margin: 45px auto;
  max-width: 1090px;
  padding: 1rem 2rem;
  text-align: center;
  width: 80%;
}

#about_us h1 {
  font-size: 34px;
}

#about_us span {
  font-weight: bold;
}

#about_us ul {
  list-style: none;
  padding: 0 .5rem;
}

/*** RECIPES ***/
#recipesH2 {
  font-family: "Delius", cursive;
  font-size: 38px;
  margin-bottom: 1rem;
  text-align: center;
}

#filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

#filters select {
  font: 16px Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 2px solid var(--nav-color);
  padding: 10px 15px;
  border-radius: 5px;
  appearance: none;
}

#filters select:hover {
  background-color: var(--light-main);
}

#filters select:focus {
  outline: none;
  border-color: var(--light-nav);
  box-shadow: 0 0 5px #e65a5a80;
}

#searchInput {
  display: block;
  margin: 20px auto;
  font: 16px Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 2px solid var(--nav-color);
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
}

#searchInput:hover {
  background-color: var(--light-main);
}

#searchInput:focus {
  outline: none;
  border-color: var(--light-nav);
  box-shadow: 0 0 5px rgba(230, 90, 90, 0.5);
}

#recipes-table, #recipes-table th, #recipes-table td {
  margin: 0;
  text-align: center;
}

#recipes-table {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
  font-family: "Delius", cursive;
  margin: auto;
  padding: 0;
}

#recipes-table a {
  color: var(--text-color);
}

#recipes-table th, #recipes-table td {
  padding: 0.5rem;
}

#recipes-table th {
  background-color: var(--text-color);
  color: var(--main-color);
  cursor: pointer;
  padding-right: 25px;
  position: relative;
}

#recipes-table th.sort-asc::after, #recipes-table th.sort-desc::after {
  color: var(--main-color);
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#recipes-table th.sort-asc::after {
  content: "▲";
}

#recipes-table th.sort-desc::after {
  content: "▼";
}

#recipes-table tr:nth-child(odd) {
  background-color: var(--main-color);
}

#recipes-table tr:nth-child(even) {
  background-color: var(--light-main);
}

#create-recipes-link {
  display: block;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

#create-recipes-link:visited {
  color: var(--text-color);
}

/***  FORMS  ***/
#content {
  align-self: center;
  margin: 1rem auto;
  width: 80%;
}

form {
  margin-left: 5rem;
}

form textarea {
  box-shadow: 3px 3px 10px #00000040;
  height: 100px;
  width: 300px;
}

form input, form select {
  border: none;
  box-shadow: 3px 3px 10px #00000040;
  height: 1.5lh;
}

button, #button {
  border: 1px solid #000;
  box-shadow: 3px 3px 10px #00000040;
}

#form-img {
  box-shadow: none;
}

/** RECIPE PAGE **/
#recipe-page h1, #recipe-page h2  {
  text-align: center;
}

#recipe-page ul {
  list-style: none;
}

#recipe-page li {
  padding: .25rem;
}

#multiplier {
  margin-bottom: 1rem;
  text-align: center;
}

#multiplier p{
  margin-bottom: 1rem;
}

#multiplier label {
  background-color: var(--main-color);
  border: 2px solid var(--text-color);
  border-radius: 25px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  padding: 7px 15px;
  transition: background-color 0.3s, color 0.3s;
}

#multiplier label:hover,
#multiplier label:focus-within {
  background-color: var(--light-main);
  border-color: var(--light-nav);
}

#multiplier input[type="radio"]:checked + label{
  background-color: var(--nav-color);
  border-color: var(--text-color);
  color: var(--main-color);
}

#multiplier input[type="radio"] {
  display: none;
}

#recipe-flex {
  display: flex;
  flex-direction: row;
}

#recipe-flex img {
  box-shadow: 6px 6px 10px #00000040;
  width: 80%;
  max-width: 350px;
  height: auto;
}

/** USERS **/
#user h1 {
  text-align: center;
}

#user-table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
}

#user-table th, td {
  border: 1px solid #000;
  padding: .25rem;
}

/** FOOTER **/
footer {
  background-color: var(--nav-color);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

footer nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer nav img {
  margin: .2rem;
}

footer h1 {
  align-self: center;
  font-family: "Damion", cursive;
  font-size: 64px;
  font-weight: 100;
  margin: 0;
}

/***** MEDIA QUERIES ******/

@media screen and (max-width: 1400px) {
  /** Adjust heading sizes **/
  header h1 {
    font-size: calc(16px + (40 - 16) * (100vw - 375px) / (1400 - 375)); 
  }

  #home-h1 {
    font-size: calc(32px + (80 - 32) * (100vw - 375px) / (1400 - 375)); 
  }

  #home-recipes h2,
  #recipesH2 {
    font-size: calc(15px + (38 - 15) * (100vw - 375px) / (1400 - 375)); 
  }

  #about_us h1 {
    font-size: calc(14px + (34 - 14) * (100vw - 375px) / (1400 - 375)); 
  }

  /** Adjust body font size **/
  html {
    font-size: calc(10px + (20 - 10) * (100vw - 375px) / (1400 - 375)); 
  }

  #home, #home p, #recipe-cards p, #about_us {
    font-size: calc(10px + (20 - 10) * (100vw - 375px) / (1400 - 375)); 
  }

  /** Adjust navigation links **/
  header nav a {
    font-size: calc(10px + (24 - 10) * (100vw - 375px) / (1400 - 375)); 
  }

  /** Adjust form and button text **/
  form input, form select, button, #button {
    font-size: calc(10px + (16 - 10) * (100vw - 375px) / (1400 - 375)); 
  }

  /** Adjust link in the recipes table **/
  #create-recipes-link {
    font-size: calc(12px + (30 - 12) * (100vw - 375px) / (1400 - 375)); 
  }

  /** Adjust recipe select **/
  #filters  select {
    font-size: calc(10px + (16 - 10) * (100vw - 375px) / (1400 - 375));
  }

  /** Footer adjustments **/
  footer h1 {
    font-size: calc(26px + (64 - 26) * (100vw - 375px) / (1400 - 375)); 
  }
}

/******** 1024px *********/
@media screen and (max-width: 1024px) {
	#recipe-flex img {
    width: 80%;
    max-width: 250px;
  }
}

/******** 768px *********/
@media screen and (max-width: 768px) {
	header nav {
    box-shadow: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  header nav ul {
    display: none;
    padding: 0;
    margin: 0;
  }

  header nav li {
    background-color: var(--nav-color);
    display: block;
  }

  header nav a {
    border-right: none;
    border-bottom: 1px solid var(--light-nav);
    color: var(--main-color);
    display: block;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }

  .nav-trigger {
    color: var(--main-color);
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    text-align: center;
  }

  /* Check if the checkbox is checked to display the menu */
  #nav-box:checked ~ nav ul {
    display: block;
}

  footer nav {
    display: flex;
    margin-top: .25rem;
  }
  
  footer nav img{
    width: 80%;
  }

}

/******** 425px *********/
@media screen and (max-width: 425px) {
  #filters {
    gap: 10px;
    padding-bottom: 20px;
  }
  
  #filters select {
    padding: 5px 7px;
  }

  footer nav img{
    width: 60%;
  }
}
